<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/base.css">
	<script src='/js/vue2-min.js'></script>
	<script src="/js/axios.js"></script>
	
</head>
<body>
	<!-- 后端传递过来的数值 -->
	<div id="app">
		<div class="container" v-if="dataArr.length">
			<p>
				本次一共抓取到： {{total_count}} 个内容
			</p>
			<table>
				<thead>
					<th>标题</th>
					<th>阅读量 <i class="up">up</i> <i class="down">down</i></th>
					<th>点赞量 <i class="up">up</i> <i class="down">down</i></th>
					<th>评论量 <i class="up">up</i> <i class="down">down</i></th>
					<th>分享量 <i class="up">up</i> <i class="down">down</i></th>
				</thead>
				<tbody>
					<tr v-for="(item, index) in dataArr" v-if="item">
						<td><a :href="item.content_url" target="">{{item.title}} </a></td>
						<td>{{ item.read_num || 0 }}</td>
						<td>{{ item.like_num || 0 }}</td>
						<td>{{ item.comment_num || 0 }}</td>
						<td>{{ item.share_type || 0 }}</td>
					</tr>
				</tbody>
			</table>
			<p >
			</p>
		</div>
		<div class="container" v-if="!dataArr.length">
			<h3>数据抓取中，请稍后...</h3>
		</div>
	</div>
	<script>
		new Vue({
			el: '#app',
			data () {
				return {
					dataArr: [],
					total_count: 0,
					message: 'this is a demo'
				}
			},
			created () {
				let _this = this;
				axios.get('/spiderJson')
					.then(function (response) {
						_this.dataArr = response.data.pageArr
						_this.total_count = response.data.total_count
						console.log(_this.dataArr)
					})
					.catch(function (error) {
						console.log(error);
				});
			}
		})
	</script>
</body>
</html>